.pio
.vscode
.clang_complete
.gcc-flags.json
config/devices.ini
config/
KiCad/*bak
KiCad/*-cache.lib
*/fp-info-cache
*.kicad_pcb-bak
*.sch-bak
devices/GenericSensor/KiCad/GenericSensor_v2-backups
**/*.kicad*-bak
**/fp-info-cache
